@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
p, h3, h4, .btn, a {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-family: "Shrikhand", cursive;
}

h3 {
  font-size: 22px;
}

a {
  text-decoration: none;
}

.btn--primary {
  border-radius: 50px;
  color: #FFF;
  padding: 15px 20px;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  box-shadow: 0px 2px 10px #979595;
}
.btn--primary:hover {
  background: linear-gradient(#d968ba, #693e9d);
}

.like {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.like--empty {
  color: #000;
  position: absolute;
  transition: opacity 0.3s ease-in-out;
}
.like--full {
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
  position: absolute;
  opacity: 0;
}

.like:hover .fas {
  opacity: 1;
  display: block;
  color: #9356DC;
  display: block;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.15);
}
.like:hover .far {
  opacity: 0;
}

.city {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e4e4e4;
  padding: 3px 0;
}
.city--icon {
  margin-right: 1%;
}
.city--text {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  padding: 15px 0;
}

.presentation {
  background-color: #F3F3F3;
  text-align: center;
  padding: 41px 51px 79px 51px;
}
.presentation--title {
  font-size: 24px;
  font-weight: 900;
  margin: 0 0 15px 0;
}
.presentation--text {
  font-weight: 200;
  margin: 0 0 50px 0;
}

.features {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 25px;
}
@media screen and (max-width: 1100px) {
  .features {
    flex-direction: column;
  }
}
.features--title {
  width: 90%;
  text-align: left;
}
.features--feature {
  background-color: #F3F3F3;
  width: 30%;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  box-shadow: 1px 4px 12px #b4b0b0;
  margin: 15px 0;
  position: relative;
  transition: background-color 0.3s ease-in-out;
}
@media screen and (max-width: 1100px) {
  .features--feature {
    width: 85%;
  }
}
.features--feature:hover {
  background-color: rgba(147, 86, 220, 0.3);
}
.features--feature:hover .features--feature_icon {
  color: #9356DC;
}
.features--feature_number {
  background-color: #9356DC;
  color: #FFF;
  padding: 5px 10px;
  border-radius: 50%;
  position: absolute;
  left: -10px;
}
.features--feature_icon {
  color: grey;
  padding-right: 19px;
  transition: color 0.3s ease-in-out;
}
.features--feature_text {
  font-weight: 700;
  width: 65%;
}

.restaurants {
  width: 100%;
  height: auto;
  background-color: #F3F3F3;
  padding: 15px 0;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}
.restaurants--title {
  width: 90%;
  text-align: left;
  margin: 25px auto 25px auto;
}
.restaurants--restaurant {
  display: block;
  width: 40%;
  height: 325px;
  margin: auto;
  background-color: #FFF;
  border-radius: 20px;
  box-shadow: 1px 4px 12px #b4b0b0;
  margin-bottom: 40px;
}
@media screen and (max-width: 600px) {
  .restaurants--restaurant {
    width: 90%;
  }
}
.restaurants--restaurant_image {
  width: 100%;
  height: 245px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px 15px 0 0;
  position: relative;
  overflow: hidden;
}
.restaurants--restaurant_image img {
  width: 100%;
}
.restaurants--restaurant_infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 80px;
  margin: auto;
}
.restaurants--restaurant_infosText {
  width: 70%;
}
.restaurants--restaurant_name {
  font-size: 18px;
  color: #000;
}
.restaurants--restaurant_city {
  font-weight: 100;
  color: #000;
}
.restaurants--restaurant_name, .restaurants--restaurant_city {
  margin: 0;
  line-height: 24px;
}
.restaurants--restaurant_new {
  width: 100px;
  height: 40px;
  border-radius: 4px;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #215521;
  position: absolute;
  top: 15px;
  right: 15px;
  font-weight: 600;
}

.background--image_aLaFrancaise {
  background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  width: 100%;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.background--image_laNoteEnchantee {
  background: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  width: 100%;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.background--image_laPaletteDuGout {
  background: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  width: 100%;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.background--image_lesDelicesDesSens {
  background: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  width: 100%;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
}
.header--logo {
  font-family: "Shrikhand", cursive;
  text-align: center;
  font-weight: 100;
  position: relative;
}
.header--return {
  position: absolute;
  left: 31px;
  color: #000;
}

.footer {
  background-color: #353535;
  color: #FFF;
  padding: 30px 40px;
}
.footer--title {
  margin-top: 0;
  font-weight: 100;
  margin-bottom: 15px;
}
.footer--text_primary i {
  width: 20px;
  font-weight: 700;
  margin-right: 15px;
  text-align: center;
}
.footer--text_secondary {
  font-weight: 100;
  color: #FFF;
}

.card {
  width: 100%;
  background-color: #F3F3F3;
  border-radius: 50px 50px 0 0;
  height: auto;
  margin-top: -12%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}
.card--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}
.card--menu {
  width: 90%;
}
.card--subtitle {
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  margin-bottom: 30px;
}
.card--subtitle::before {
  content: "";
  width: 50px;
  height: 3px;
  background-color: #99E2D0;
  position: absolute;
  bottom: -10px;
}
.card--meal {
  max-width: 100%;
  height: 85px;
  background-color: #FFF;
  border-radius: 25px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  position: relative;
  color: #000;
  overflow: hidden;
  opacity: 1;
  box-shadow: 1px 4px 12px #b4b0b0;
}
.card--meal_0 {
  animation: 500ms ease-in-out test, 0ms ease-in-out test2;
  animation-delay: 0ms, 0ms;
}
.card--meal_1 {
  animation: 500ms ease-in-out test, 100ms ease-in-out test2;
  animation-delay: 100ms, 0ms;
}
.card--meal_2 {
  animation: 500ms ease-in-out test, 200ms ease-in-out test2;
  animation-delay: 200ms, 0ms;
}
.card--meal_3 {
  animation: 500ms ease-in-out test, 300ms ease-in-out test2;
  animation-delay: 300ms, 0ms;
}
.card--meal_4 {
  animation: 500ms ease-in-out test, 400ms ease-in-out test2;
  animation-delay: 400ms, 0ms;
}
.card--meal_5 {
  animation: 500ms ease-in-out test, 500ms ease-in-out test2;
  animation-delay: 500ms, 0ms;
}
.card--meal_6 {
  animation: 500ms ease-in-out test, 600ms ease-in-out test2;
  animation-delay: 600ms, 0ms;
}
.card--meal_7 {
  animation: 500ms ease-in-out test, 700ms ease-in-out test2;
  animation-delay: 700ms, 0ms;
}
.card--meal_8 {
  animation: 500ms ease-in-out test, 800ms ease-in-out test2;
  animation-delay: 800ms, 0ms;
}
.card--meal_9 {
  animation: 500ms ease-in-out test, 900ms ease-in-out test2;
  animation-delay: 900ms, 0ms;
}
.card--meal_10 {
  animation: 500ms ease-in-out test, 1000ms ease-in-out test2;
  animation-delay: 1000ms, 0ms;
}
.card--meal_text {
  margin-left: 20px;
  line-height: 25px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}
.card--meal_textName {
  font-weight: 700;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card--meal_textSideDish {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
  font-weight: 300;
}
.card--meal_price {
  width: 42px;
  font-weight: 800;
  display: flex;
  height: 34px;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 25px;
}
.card--meal_validate {
  width: 80px;
  height: 100%;
  margin: -1rem -5rem -1rem 0rem;
  background-color: #99E2D0;
  animation: 0.3s ease-out showValidation2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card--meal_validate i {
  color: #FFF;
}
.card--meal:hover .card--meal_validate {
  margin: 0 0 0 0;
  animation: 0.3s ease-in-out showValidation;
}
.card--meal:hover .card--meal_validate i {
  animation: 0.2s ease-in-out rotateIconConfirm;
  animation-iteration-count: 2;
}
@keyframes showValidation {
  0% {
    margin: -1rem -5rem -1rem 0rem;
  }
  100% {
    margin: 0 0 0 0;
  }
}
@keyframes showValidation2 {
  0% {
    margin: 0 0 0 0;
  }
  100% {
    margin: -1rem -5rem -1rem 0rem;
  }
}
@keyframes rotateIconConfirm {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes test {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes test2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.card--btn {
  margin: 25px 0;
  padding: 15px 52px;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #e4e4e4;
  top: 0;
  z-index: -10;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 3000ms ease-in-out display;
}
.loader--circle {
  width: 150px;
  height: 150px;
  background-color: #e4e4e4;
  transform-origin: top;
  animation: progress-bar ease-in-out 3000ms;
  z-index: 702;
}
.loader--circleprogressbar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(#9356DC, #FF79DA);
  position: absolute;
  z-index: 701;
}
.loader--circleOutline {
  width: 155px;
  height: 155px;
  border-radius: 50%;
  z-index: 703;
  position: absolute;
  border: 4px solid #FF79DA;
}

@keyframes circle-outline {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes progress-bar {
  0% {
    transform: scaleY(1);
  }
  18% {
    transform: scaleY(0.7);
  }
  50% {
    transform: scaleY(0.5);
  }
  72% {
    transform: scaleY(0.2);
  }
  100% {
    transform: scaleY(0);
  }
}
@keyframes display {
  0% {
    z-index: 700;
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    z-index: -1;
  }
}
body {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
