@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
// logo et titre 
$titleFont: 'Shrikhand', cursive;
$textFont: 'Roboto', sans-serif;

p, h3, h4, .btn, a {
    font-family: $textFont;
}

h2 {
    font-family: $titleFont;
}

h3 {
    font-size: 22px;
}

a {
    text-decoration: none;
    //color: #000;
}