.city {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3F3F3;
    padding: 10px 0;
    &--icon {
        margin-right: 1%;
    }
    &--text {
        margin: none;
        font-weight: 700;
    }
}

.presentation {
    background-color: #FAFAFA;
    text-align: center;
    padding: 30px 33px;
    &--title {
        font-size: 24px;
        font-weight: 900;
        margin: 0 0 15px 0;
    }
    &--text {
        font-weight: 200;
        margin: 0 0 28px 0;

    }
}

.features {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 25px;
    @include tablet-only {
        flex-direction: column;
    }
    &--title {
        width: 90%;
        text-align: left;
    }
    &--feature {
        background-color: #F3F3F3;
        width: 30%;
        height: 68px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        box-shadow: 1px 4px 12px rgb(219, 218, 218);
        margin: 15px 0;
        position: relative;
        @include tablet-only {
            width: 85%;
        }
    }
    &--feature_number {
        background-color: $primary;
        color: #FFF;
        padding: 5px 10px;
        border-radius: 50%;
        position: absolute;
        left: -10px;
    }
    &--feature_icon {
        color: grey;
        padding-right: 19px;
    }
    &--feature_text {
        font-weight: 700;
        width: 65%;
    }
}

.restaurants {
    width: 100%;
    height: auto;
    background-color: #F3F3F3;
    padding: 15px 0;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    &--title {
        width: 90%;
        text-align: left;
        margin: 25px auto 25px auto;
    }
    &--restaurant {
        display: block;
        width: 40%;
        height: 325px;
        margin: auto;
        background-color:#FFF;
        border-radius: 20px;
        box-shadow: 1px 4px 12px rgb(219, 218, 218);
        margin-bottom: 40px;
        @include mobile-only {
            width: 90%;
        }
    }
    &--restaurant_imagePaletteGout {
        background: url('../../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg');
    }
    &--restaurant_imageNoteEnchantee {
        background: url('../../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg');
    }
    &--restaurant_imageFrancaise {
        background: url('../../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg');
    }
    &--restaurant_imageDeliceSens {
        background: url('../../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg');

    }
    &--restaurant_image {
        width: 100%;
        height: 245px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 15px 15px 0 0;
    }
    &--restaurant_infos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        height: 80px;
        margin: auto;
    }
    &--restaurant_infosText {
        width: 70%;
    }
    &--restaurant_name {
        font-size: 18px;
        color: #000;
    }
    &--restaurant_city {
        font-weight: 100;
        color: #000;
    }
    &--restaurant_name, &--restaurant_city{
        margin: 0;
        line-height: 24px;
    }

    &--restaurant_like {
        position: relative;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &--restaurant_like .fas {
        transform: scale(1);
        transition: transform .3s ease-in-out;
        position: absolute;
        opacity: 0;
    }
    &--restaurant_like .far {
        color: #000;
        position: absolute;
        transition: opacity .3s ease-in-out;
    }
    &--restaurant_like:hover {
        & .fas {
            opacity: 1;
            display: block;
            color: $primary;
            display: block;
            background: -webkit-linear-gradient($primary, $secondary);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transform: scale(1.15);

        }
        & .far {
            opacity: 0;
        }
    }
}