.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $darkGray;
    top: 0;
    z-index:-10;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 3000ms ease-in-out display;
    &--square {
        width: 150px;
        height: 150px;
        background-color: $darkGray;
        transform-origin: top;
        animation: progress-bar ease-in-out 3000ms;
        z-index: 702;
    }
    &--circle {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background: linear-gradient($primary, $secondary);
        position: absolute;
        z-index: 701;
    }
    &--circleOutline {
        width: 165px;
        height: 165px;
        border-radius: 50%;
        z-index: 703;
        position: absolute;
        border: 6px solid $secondary;
    }
}
@keyframes circle-outline {
    0% {
        transform: rotate(0);
    }
    
    100% {
        transform: rotate(360deg)
    }    
}

@keyframes progress-bar {
    0% {
        transform: scaleY(1)
        
    }
    18% {
        transform: scaleY(.7)
    }
    50% {
        transform: scaleY(.5)
    }
    72% {
        transform: scaleY(.2)
    }
    100% {
        transform: scaleY(0)
    }
}

@keyframes display {
    0% {
        z-index: 700;
        opacity: 1;
    }
    85% {
        opacity: 1;
    }
    100% {
        z-index: -1;
        opacity: 0;
    }
}